langchain 
google-genai
selenium
beautifulsoup4==4.12.3
lxml
python-dotenv
streamlit
fastapi
uvicorn
requests==2.32.3
python-dateutil
pinecone[grpc]
curl_cffi
pydantic==2.10.6
openai==1.65.2
pdfplumber
pypdf
python-multipart
json-repair
